* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: system-ui, sans-serif;
    color: #e0e0e0;
    background-image:
        linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url("../img/elMichil.png");



    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #031004;


    padding: 16px;
    border-radius: 16px;


    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-weight: 100;
    color: #e0e0e0;
}

.imgLogo {
    width: 80px;
    opacity: 0.8;
    border-radius: 50%;
    transition: all 0.3s;
}


.imgLogo:hover {
    /* transform: translateY(-4px); */
    /* transform: rotate(90deg); */
    transform: scale(1.1);
    border-radius: 10px;
    box-shadow: 0 0 4px #fff;
    opacity: 1;
    transition: all 0.3s;

}

nav {

    margin-top: 2rem;
    padding: 10px;
    background-color: #f00;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    transition: all 0.3s;
}

.menuOculto {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #000;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
}

li:hover .menuOculto {
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: all 0.3s;
}


a {
    color: #e0e0e0;
    font-weight: 600;
    transition: all 0.3s;
}

li:hover {
    transform: translateY(-4px);
    transition: all 0.3s;
}

a:hover {
    color: #000;
    transition: all 0.3s;
}

main {
    padding: 16px;
}

/* section{}
article{} */

.parrafoDeMuestra {
    color: #e0e0e0;
    margin: 20px 0;
    font-size: 1.3rem;
    font-family: Arial, sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 30px;

    text-transform: uppercase;
}

.cursiva {
    font-style: italic;
}



.parrafoConEstilosDiferentes {
    color: #f00;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: lowercase;
}


/* === card === */

.cardsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;

}

.cardBody {
    width: 200px;
    padding: 8px;
    border-radius: 8px;
    background-color: #e0e0e0;
    color: #0e0e0e;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s;
}

.cardBody:hover {
    transform: scale(0.9);
    transition: all 0.3s;
}

.cardBody img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 2px 4px #333;
}

.cardTitle {
    font-weight: bold;
    font-size: 18px;
}

.cardInfo {
    color: #333;
    font-size: 0.9rem;
}

.producCardPrice {
    display: flex;
    gap: 20px;
}

.producCardPrice b {
    font-size: 1.2rem;
    font-weight: bold;
}

.producCardPrice span {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(56, 215, 56);
}

.cardBody button {
    padding: 8px 16px;
    width: 100%;
    border: none;
    border-radius: 8px;
    background-color: #1b82f7;
    color: #e0e0e0;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 0 2px #333;
    transition: all 0.3s;
}

.cardBody button:hover {
    background-color: #0c35f0;
    box-shadow: inset 0 0 6px #fff;
    transition: all 0.3s;
}



footer {
    margin-top: auto;
    background-color: #031004;
    padding: 16px;
    border-radius: 16px;
    display: grid;
    place-items: center;
}